@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 900;
	src: url('./fonts/eot/IRANSansWeb_Black.eot');
	src: url('./fonts/eot/IRANSansWeb_Black.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./fonts/woff2/IRANSansWeb_Black.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./fonts/woff/IRANSansWeb_Black.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./fonts/ttf/IRANSansWeb_Black.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: bold;
	src: url('./fonts/eot/IRANSansWeb_Bold.eot');
	src: url('./fonts/eot/IRANSansWeb_Bold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./fonts/woff2/IRANSansWeb_Bold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./fonts/woff/IRANSansWeb_Bold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./fonts/ttf/IRANSansWeb_Bold.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 500;
	src: url('./fonts/eot/IRANSansWeb_Medium.eot');
	src: url('./fonts/eot/IRANSansWeb_Medium.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./fonts/woff2/IRANSansWeb_Medium.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./fonts/woff/IRANSansWeb_Medium.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./fonts/ttf/IRANSansWeb_Medium.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 300;
	src: url('./fonts/eot/IRANSansWeb_Light.eot');
	src: url('./fonts/eot/IRANSansWeb_Light.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./fonts/woff2/IRANSansWeb_Light.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./fonts/woff/IRANSansWeb_Light.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./fonts/ttf/IRANSansWeb_Light.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: 200;
	src: url('./fonts/eot/IRANSansWeb_UltraLight.eot');
	src: url('./fonts/eot/IRANSansWeb_UltraLight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./fonts/woff2/IRANSansWeb_UltraLight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./fonts/woff/IRANSansWeb_UltraLight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./fonts/ttf/IRANSansWeb_UltraLight.ttf') format('truetype');
}
@font-face {
	font-family: IRANSans;
	font-style: normal;
	font-weight: normal;
	src: url('./fonts/eot/IRANSansWeb.eot');
	src: url('./fonts/eot/IRANSansWeb.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./fonts/woff2/IRANSansWeb.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('./fonts/woff/IRANSansWeb.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./fonts/ttf/IRANSansWeb.ttf') format('truetype');
}
body {
  margin: 0;
  font-family: IRANSans !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
}

code {
  font-family: IRANSans !important;
 
}
::-webkit-scrollbar {
	display: none;
  }

.flex-center{
	display: flex !important;
	justify-content: center;
	align-items: center;
}

@media only screen and (max-width: 600px) {
	.Fs-row-show{
		font-size: 12px;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	.Fs-row-show{
		font-size: 14px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	.Fs-row-show{
		font-size: 14px;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	.Fs-row-show{
		font-size: 16px;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	.Fs-row-show{
		font-size: 16px;
	}
}


/*$color-Landing-header:#4a4d4d;*/
/*$color-Landing-sub:#676767;*/
.bg-badge{
	/*background-image: url("./photo/badge.png");*/
	/*background-repeat: no-repeat;*/
	/*background-size: contain;*/
	min-width: 154px;
	background: black;
	border-radius: 14px;

}
.card-login{
	border-radius: 16px;
	box-shadow: 0 3px 16px 0 rgba(0, 0, 0, 0.06);
 	background-color: #ffffff!important;
	border: 0!important;
}
.color-Landing-header{
	color: #4a4d4d;;
}
.color-login-sub{
	color: #676767;;
}
.margin-p{
	margin-bottom: 2rem;
}

@media screen and (max-width: 379px) {


	.padding-main-logo-2{
		padding-left: 0;
		padding-right:0;
	}

	.img-width-logo{
		width:50%;
		padding-bottom: 0.5rem!important;
	}
	.pr-4-5-1{
		padding-right: 1rem;
	}
	.pl-4-5-1{
		padding-left: 1rem;
	}
	.pr-text-logo1{
		padding-left: 0.8rem;
	}
	.pl-text-logo1{
		padding-left: 0.8rem;
	}

	.position-back-login{
		right: -3%;
		top: -42%;
		font-size: 1.5rem;
	}


}

@media screen and (max-width: 426px) {

	.pr-text-logo1{
		padding-right: 1.5rem;
	}
	.pl-text-logo1{
		padding-left: 1.5rem;
	}
	.img-width-logo{
		width:50%;
		padding-bottom: 0.5rem!important;
	}
	.main-logo-padding{
		padding-top: 32%
	}
	.position-back-login{
		right: -3%;
		top: -42%;
		font-size: 1.5rem;
	}
	.Fs-login{
		font-size: calc(0.26vw + 0.55em)!important;
	}
	.Fs-1-mobile{
		font-size: calc(  0.8em) !important;
	}
	.padding-text-logo-2{
		padding-left: 1.5rem;
		padding-right: 1.5rem;
	}
	.padding-main-logo-2{
		padding-left: 0;
		padding-right: 0;
	}
	.Fs-Headers-dashboard{
		font-size: calc(0.4vw + 0.5em) !important;
	}

}


@media screen and (max-width: 1024px) and (min-width: 768px)  {

	.img-width-logo{
		width:29%;
		padding-bottom: 1.2rem!important;
	}
	.paginate-item-fontSize{
		font-size: calc(0.5em + 0.7vw)!important;
	}

}


@media screen and (max-width: 1367px) and (min-width: 1024px)  {

	.img-icon-landing{
		width: calc(5vw + 5em) !important ;

	}

	.pr-text-logo1{
		padding-right: 1.5rem;
	}
	.pl-text-logo1{
		padding-left: 1.5rem;
	}
	.img-width-logo{
		width:20%;
		padding-bottom: 1.2rem!important;
	}
	.main-logo-padding{
		padding-top: 15%
	}
	.position-back-login{
		right: -6%;
		top: -24%;
		font-size: 4rem;
	}
	.padding-text-logo-2{
		padding-left: 4rem;
		padding-right: 4rem;
	}
	.padding-main-logo-2{
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.Fs-Headers-dashboard{
		font-size: calc(0.4vw + 0.4em) !important;
	}
}
@media screen and (max-width: 1450px) and (min-width: 1367px)  {
	.img-width-logo{
		width:20%;
		padding-bottom: 1.2rem!important;
	}
}

@media screen and (min-width: 1919px) {



	.img-icon-landing{
		width: calc(5vw + 5em) !important ;

	}
	.pr-text-logo1{
		padding-right: 1.5rem;
	}
	.pl-text-logo1{
		padding-left: 1.5rem;
	}
	.img-width-logo{
		width:20%;
		padding-bottom: 1.2rem!important;
	}

	.main-logo-padding{
		padding-top: 10%
	}
	.position-back-login{
		right: -6%;
		top: -24%;
		font-size: 3rem;
	}
	.Fs-login{
		font-size: calc(0.35vw + 0.55em)!important;
	}
	.Fs-1-mobile{
		font-size: calc( 0.35vw + 0.7em) !important;
	}
	.padding-text-logo-2{
		padding-left: 4rem;
		padding-right: 4rem;
	}
	.padding-main-logo-2{
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.Fs-Headers-dashboard{
		font-size: calc(0.4vw + 0.4em) !important;
	}

}

.glow {
	/*font-size: 80px;*/
	/*color: #fff;*/
	text-align: center;
	-webkit-animation: glow 1s ease-in-out infinite alternate;
	-moz-animation: glow 1s ease-in-out infinite alternate;
	animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
	from {
		text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
	}
	to {
		text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
	}
}